* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

html,
body {
  font-family: "Bebas Neue", serif;
  background-color: rgb(107, 104, 104);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.github-button {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(163%, 13%);
  z-index: 1;
  border-radius: 50%;
}
.github-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-51%, -11%);
  z-index: 1;
  border-radius: 50%;
}

/**************************/
/* NAVIGATION */
/**************************/

nav {
  width: 100%;
  border-bottom: 2px solid #000;
}

ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  caret-color: transparent;
}

li {
  font-size: 50px;
}

.main-nav-link {
  text-decoration: none;
  color: white;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  transition: all 1s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(243, 99, 99);
}

/**************************/
/*  BODY  */
/**************************/

h1 {
  display: block;
  text-align: center;
  font-size: 100px;
  margin: 50px auto;
}

main {
  display: flex;
  flex-direction: column;
}
.container {
  display: block;
  text-align: center;
  padding: 3%;
  flex-wrap: wrap;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 3rem;
  justify-items: stretch;
}
.name-box {
  color: white;
  width: 220px;
  height: 220px;
  border-radius: 45px;
  border: 8px solid rgb(243, 99, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 31px;
  background-color: #353535;
  letter-spacing: 0.1rem;
}
.infoBox {
  position: relative;
  padding: 15px;
  color: white;
  text-align: center;
  border: 8px solid rgb(243, 99, 99);
  border-radius: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 28px;
  overflow: hidden;
  cursor: pointer;
  background-color: #353535;
  letter-spacing: 0.1rem;
}

.info-content {
  display: none;
  margin-top: 20px;
  color: white;
}

.name-box {
  background-color: #353535;
}

/* 
aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--outer-space);
  padding: 20px;
  color: var(--heliotrope);
}
aside img {
  width: 37%;
}
.rps-title {
  font-size: 3rem;
  color: #ff6347;
  animation:
    bounceIn 1.5s ease infinite,
    glow 2s ease-in-out infinite alternate;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 15px rgba(255, 99, 71, 0.8);
  margin-bottom: 30px;
  text-align: center;
  margin-top: 5%;
}

aside .game {
  margin: -8px;
  padding: 70px;
  flex: 1;
  color: #ff6347;
  text-shadow: 0 0 15px rgba(255, 99, 71, 0.8);
}

.rock:hover,
.paper:hover,
.scissor:hover {
  background-color: rgb(182, 76, 76);
} */
