* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

html,
body {
  font-family: "Bebas Neue", serif;
  background-color: rgb(107, 104, 104);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/**************************/
/* NAVIGATION */
/**************************/

nav {
  width: 100%;
  border-bottom: 2px solid #000;
}

ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  caret-color: transparent;
}

.main-nav-link {
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  transition: all 1s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(243, 99, 99);
}

/**************************/
/*  BODY  */
/**************************/

main {
}

h1 {
  display: block;
  text-align: center;
  font-size: 100px;
  margin: 50px auto;

  text-shadow: 5px 5px rgb(243, 99, 99);
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

.knight-one {
  height: 280px;
  width: 325px;
  margin: 20px;
  border-radius: 10px;
}

.knight-two {
  height: 280px;
  width: 325px;
  margin: 20px;
  border-radius: 10px;
}
